site_name: PQC Lab
site_description: Personal notebook for Post-Quantum Cryptography
site_author: AntiAbelian
repo_url: https://github.com/AntiAbelian/pqc-lab

theme:
  name: material
  palette:
    scheme: slate
    primary: indigo
    accent: cyan
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.details

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search
  - mkdocs-jupyter

nav:
  - Home: index.md
  - Preliminaries: preliminaries.md
  - PQC Fields: fields.md
  - Algorithms: algorithms.md
  - Implementation: implementation.md
  - Experiments: experiments.md
  - Tools: tools.md